// Quantum Script Extension XML
// Copyright (c) 2016-2024 Grigore Stefan <g_stefan@yahoo.com>
// MIT License (MIT) <http://opensource.org/licenses/MIT>
// SPDX-FileCopyrightText: 2016-2024 Grigore Stefan <g_stefan@yahoo.com>
// SPDX-License-Identifier: MIT

#include <XYO/QuantumScript.Extension/XML/Library.rh>
#include <XYO/QuantumScript.Extension/XML/Copyright.rh>
#include <XYO/QuantumScript.Extension/XML/Version.rh>

XYO_PLATFORM_VERSION_INFO(XYO_QUANTUMSCRIPT_EXTENSION_XML,"quantum-script--xml.dll","Quantum Script Extension XML")
