//
// Quantum Script Extension XML
//
// Copyright (c) 2020-2022 Grigore Stefan <g_stefan@yahoo.com>
// Created by Grigore Stefan <g_stefan@yahoo.com>
//
// MIT License (MIT) <http://opensource.org/licenses/MIT>
//

#include "xyo-application-version--os-windows-rc.hpp"
#include "quantum-script-extension-xml-version.hpp"
#include "quantum-script-extension-xml-copyright.hpp"

XYO_APPLICATION_VERSION_INFO(QUANTUM_SCRIPT_EXTENSION_XML,"qse-xml.dll","Quantum Script Extension XML")

